# Lab Assignment One: Exploring Table Data

#### Everett Cienkus, Blake Miller, Colin Weil

## 1. Business Understanding
This dataset contains data for all NBA games from the 2004-2005 season until March of the 2021-2022 season.
From the description of the dataset, the data was collected from the NBA stats website.

This dataset can be useful for various parties, including NBA teams, coaches, players, sports bettors, or  anyone looking to better understand basketball statistics. In our exploration we will be specifically looking at the application of this data for an NBA team GM. According to www.investopedia.com, of the 30 NBA teams "a team is worth on average $2.12 billion", and "total revenue across the organization reached 8.76 billion in the 2018-2019 season."

## 2. Data Understanding

### 2.1 Data Description

In [16]:
import pandas as pd
import numpy as np

print('Pandas:', pd.__version__)
print('Numpy:',np.__version__)
df = pd.read_csv('NBA_datasets/games.csv') # read in the csv file
#Split stats into home and away
home_df = df[["GAME_DATE_EST","PTS_home","FG_PCT_home","FT_PCT_home","FG3_PCT_home","AST_home","REB_home", "HOME_TEAM_WINS"]]
away_df = df[["GAME_DATE_EST","PTS_away","FG_PCT_away","FT_PCT_away","FG3_PCT_away","AST_away","REB_away", "HOME_TEAM_WINS"]]

#Convert HOME_TEAM_WINS the to appropriate value based on home or away team
home_df=home_df.rename(columns={'HOME_TEAM_WINS':'WIN'})
away_df=away_df.rename(columns={'HOME_TEAM_WINS':'WIN'})
away_df["WIN"]=np.logical_not(away_df["WIN"])
home_df["WIN"]=home_df["WIN"].astype(bool)

#display
display(home_df.head(n = 100))
display(away_df.head(n = 100))

Pandas: 1.4.2
Numpy: 1.21.5

,GAME_DATE_EST,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,WIN
0,2022-03-12,104.0,0.398,0.760,0.333,23.0,53.0,False
1,2022-03-12,101.0,0.443,0.933,0.429,20.0,46.0,True
2,2022-03-12,108.0,0.412,0.813,0.324,28.0,52.0,False
3,2022-03-12,122.0,0.484,0.933,0.400,33.0,55.0,True
4,2022-03-12,115.0,0.551,0.750,0.407,32.0,39.0,False
...,...,...,...,...,...,...,...,...
95,2022-02-28,110.0,0.465,0.704,0.314,28.0,38.0,False
96,2022-02-27,109.0,0.447,0.629,0.333,21.0,47.0,False
97,2022-02-27,114.0,0.512,0.813,0.464,24.0,36.0,False
98,2022-02-27,128.0,0.522,0.850,0.515,25.0,49.0,True
99,2022-02-27,126.0,0.506,0.676,0.419,25.0,46.0,False

,GAME_DATE_EST,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,WIN
0,2022-03-12,113.0,0.422,0.875,0.357,21.0,46.0,True
1,2022-03-12,91.0,0.419,0.824,0.208,19.0,40.0,False
2,2022-03-12,119.0,0.489,1.000,0.389,23.0,47.0,True
3,2022-03-12,109.0,0.413,0.696,0.386,27.0,39.0,False
4,2022-03-12,127.0,0.471,0.760,0.387,28.0,50.0,True
...,...,...,...,...,...,...,...,...
95,2022-02-28,131.0,0.563,0.767,0.323,30.0,46.0,True
96,2022-02-27,125.0,0.487,0.886,0.303,28.0,43.0,True
97,2022-02-27,118.0,0.468,0.650,0.425,23.0,41.0,True
98,2022-02-27,107.0,0.429,0.850,0.279,25.0,40.0,False
99,2022-02-27,127.0,0.455,0.722,0.350,30.0,54.0,True

### 2.2 Data Quality

In [ ]:
# Code goes here

## 3. Data Visualization

### 3.1 Data Exploration

In [ ]:
# Code goes here

### 3.2 Data Relationship Exploration

In [ ]:
# Code goes here

## 4. Dimensionality Reduction

In [ ]:
# Code goes here

In [19]:
# Code goes here